[Include]
#Grid mode doesn't include airports as weather data points, they are used only for METAR and TAF data.
add_airports_to_full_grid = 0

[Resolution]
# 1,0.5 or 0.25 deg grid resolution.
stations_mode_grid_resolution = 0.25
grid_mode_resolution = 1

[Export]
#Generate Json files with all the compiled data.
generate_export_files = 0

[Time]
#When leaving the default forecast starting time [--], it takes the last one available in the past 3 hours.
#After how much elapsed time [minutes] should it take the one of the next 3 hours.
skip_to_next_forecast_delay = 60